html, body {   
    margin: 0;
    padding: 0;
    background: rgb(48,48,48);
    background: radial-gradient(circle, rgba(48,48,48,1) 7%, rgba(129,129,129,1) 62%, rgba(240,239,239,1) 100%); 
}

.page {
    height: 100%;
    width: 82.5%;
    margin: 0 auto;
    padding: 0;
    background: rgb(232,232,232);    

    header {
        background: rgb(232,232,232);
        background: linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        width: 100%;
        height: 80px;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-self: center;
        align-items: center;

        img {
            width: auto;
            height: 66px;
        }
    }
}

h1 {
    padding-top: 20px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 32px;
    padding: 1%;
    align-self: center;
    margin: 0 auto;

    &:after {
        content: '';
        display: block;
        height: 2px;
        width: 80px;
        background-color: black;
        margin: 15px auto 0;
    }
}

h2 {
    padding-top: 5px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 2%;
    align-self: center;
    margin: 0 auto;   
}

main {
    height: 75%;

    .part1 {
        background: rgb(232,232,232) url('images/keyboard.jpg');
        color: white;
        height: 400px;
        width: auto;
        font-family: 'Cousine', serif;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-self: center;
        overflow: hidden;

            p.title-line {
                display: inline-block;
                background: rgba(17, 17, 17, 0.8);
                width: fit-content;
                font-size: 36px;                
                padding: 0.4%;
                margin-left: 5%;
                margin-top: 0;
                margin-bottom: 1%;                
                font-weight: 700;
            }

            p.main {
                display: inline-block;
                background: rgba(255, 255, 255, 0.8);
                color: black;
                height: auto;
                width: fit-content;
                font-size: 36px;                
                padding: 0.4%;
                margin-left: 5%;
                margin-top: 0;
                margin-bottom: 1%;
            }

            p.secondary {
                display: inline-block;                
                background: rgba(255, 255, 255, 0.8);
                color: black;
                width: fit-content;
                font-size: 24px;                
                padding: 0.4%;
                margin-left: 5%;
                margin-top: 0;
                margin-bottom: 1%;                
            }

            p.auxiliary {
                display: inline-block;                
                background: rgba(17, 17, 17, 0.8);
                width: fit-content;
                font-size: 24px;                
                padding: 0.4%;
                margin-left: 5%;
            }                  
    }

    .part2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 1%;
        padding-left: 1%;
        font-family: 'Roboto Slab', serif;

    }

    .cardholder {
        height: auto;
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            float: left;
            width: 300px;
            min-width: 300px;         
            height: 45vh;
            margin-right: 10px;
            margin-bottom: 10px;
            background: rgb(232,232,232);
            background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
            text-align: center;

            .card__name {
                background-color: darkslategrey;
                color: white;
                width: 100%;
                height: 40px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                span {
                    text-align: center;
                    font-weight: bold;
                }                  
            }

            .card__pic {
                height: 50%;
                width: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }

            .card__description {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-top: 5%;
                padding-bottom: 5%;
                height: 20%;            
            }

            button.card__learnmore-btn {
                margin-left: auto;
                margin-right: auto;                
                border: none;
                background-color: dimgray;
                color: white;
                cursor: pointer;
                width: 30%;
                padding: 1%;
                text-align: center;
                font: inherit;
                border-radius: 5px;

                a {
                    color: inherit;
                    text-decoration: none;
                }

                &:hover {
                    background-color: whitesmoke;
                    color: dimgray;
                    border: 1.5px solid dimgray;               
                }
            }
        }
    }

    .part3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Roboto Slab', serif;
        
        .animated-bars {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            .signs {
                width: 150px;
                
                .bar {
                    height: 60px;                    
                }
                
                .filled {
                    background-color: whitesmoke;
                    color: black;
                    padding-left: 20px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                }
            }

            .percentage {
                width: 90%;

                .bar {
                    height: 60px;

                    .filled {
                        background-color: darkgrey;
                        color: white;
                        padding-left: 20px;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        font-family: 'Cousine', serif;
                        font-size: 24px;
                    }
                }
            }
        }
    }
}


footer {
    display: flex;
    flex-direction: column;

    .social-networks {
        background: rgb(232,232,232);
        background: linear-gradient(180deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font: 600 16px 'Roboto Slab', sans-serif;

        img {
            height: 16px;
            width: 16px;
            margin-right: 5px;
        }

        .link-cont {
            position: relative;
            font-size: 24px;
            width: auto;
        }
        
        .link {
            display: inline-block;
            position: relative;
            text-decoration: none;
            padding: 10px 15px;
            color: black;
        }
        
        .link-wrapper {
            position: relative;
            display: block;
            padding: 20px 0;
            width: inherit;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;            
        }

        .inner-wrapper {
            position: relative;
            display: inline-block;
        }
        
        .hover-1 {
            &:after {
                content:'';
                position: absolute;
                width: 100%;
                height: 3px;
                bottom: 0;
                left: 0;
                background-color: black;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.3s;
            }
        
            &:hover {
                &:after {
                    transform-origin: bottom left;
                    transform: scaleX(1);
                }
            }
        }
    }

    .copyright {
            height: 30px;
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            background-color: dimgrey;
            color: whitesmoke;

            .sign {
                font: 700 16px 'Cousine', serif;
                line-height: 30px;
            }
    }
}